* {
    margin: 0;
    padding: 0;
}

#compa {
    width: 100%;
    margin: 0;
    padding: 1vw;
}

h1 {
    text-align: center;
    text-decoration: underline black;
    -webkit-text-stroke: 0.1vw black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vw;
    color: rgb(64, 151, 64);
}

h3 {
    text-align: center;
    text-decoration: underline black;
    -webkit-text-stroke: 0.05vw black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5vw;
    color: rgb(64, 151, 64);
}
h3 a {    text-align: center;
    text-decoration: underline black;
    -webkit-text-stroke: 0.05vw black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5vw;
    color: rgb(57, 204, 57);
}
h3 a:hover {color:white;}


#links a button {
    margin: 0.25vw;
    padding: 1vw;
    color: black;
    background: linear-gradient( yellowgreen, green);
    text-decoration: none;
    font-size: 1.15vw;
    cursor: pointer;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border: 0.2vw solid black;
    border-radius: 2vw;
}
#links {align-content: center; text-align: center;}
#links a button:hover {
    filter: opacity(80%);
    color: white;
    text-decoration: underline 0.25vw black;
}
#rizsa {
    text-align: justify;
    margin: 1vw 1vw;
    font-size: 1.5vw;
}
#o_html, #o_sql {width: 15%;display: block;margin:2vw auto;}
#o_css, #o_js {width: 5%;display: block;margin:2vw auto;}
#o_php, #o_csharp {width: 10%;display: block;margin:2vw auto;}